@import 'colors';

@mixin alert-custom($base-color) {
  background-color: lighten($base-color, 20%);
  color: darken($base-color, 50%);
  border-color: darken($base-color, 40%);
}

.alert-success {
  @include alert-custom($yellow);
}

.alert-info {
  @include alert-custom($orange);
}

.alert-warning {
  @include alert-custom($brown);
}

.alert-danger {
  @include alert-custom($dark-grey);
}
