@import 'colors';

.navbar li .form-inline {
  margin-left: 8px;
  margin-right: 8px;
}

.navbar {
  border: 0px;
  border-radius: 0px;
  background-color: $color-bg-nav;
}
.navbar-default {
  .navbar-nav>li>a {
    color: $color-font-dark;
  }

  .navbar-brand {
    color: $color-font-dark;
  }

  .btn-link {
    color: $color-font-dark;
  }
}
