@import 'colors';

.panel-default {
  border-color: #2b2b2b;
}

.panel-default > .panel-heading {
  background-color: $color-bg-panel-heading;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;

  a {
    color: darken(#eee, 0%);
  }
}

.panel-body {
  background-color: $color-bg-panel;
  padding-right: 30px;
}

