@import 'colors';

body {
  background-image: url("/splash-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
	background-color: $color-background;
  border-color: $color-box;
  border-radius: 7px;
  border-width: 2px;
}

.margin-top-flexible {
	@media (max-width: 576px) { margin-top: 20px; }
	@media (min-width: 576px) { margin-top: 40px; }
	@media (min-width: 768px) { margin-top: 60px; }
}

.splash-panel { opacity: 0.7; }
.sign-in { opacity: 0.9; }
.margin-top-10 { margin-top: 10px; }
.larger-text { font-size: 1.25em; }
