%h1.text-center= t('.title')

%ul.spaced-out.text-justify
  %li#what-is-moviemates
    %h3= t('.what_is_moviemates.title')
    = t('.what_is_moviemates.body_html')

  %li#what-does-moviemates-do
    %h3= t('.what_does_moviemates_do.title')
    = t('.what_does_moviemates_do.body_html')

  %li#how-to-vote
    %h3= t('.how_to_vote.title')
    = t('.how_to_vote.body_html')

  %li#get-started
    %h3= t('.get_started.title')
    %h5#invite-friends= t('.get_started.invite_friends.title')
    = t('.get_started.invite_friends.body_html', group_path: my_group_path)

    %h5#add-movies= t('.get_started.add_movies.title')
    = t('.get_started.add_movies.body_html', search_path: home_path, library_path: movies_path)

    %h5#pick-a-movie= t('.get_started.pick_a_movie.title')
    = t('.get_started.pick_a_movie.body_html', pick_path: new_pick_path)

  %li#contact
    %h3= t('.contact.title')
    = t('.contact.body_html')
