<h2><%= t('.title') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="field form-group">
    <%= f.label :name, t('.name.label') %><br />
    <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: t('.name.placeholder') %>
  </div>

  <div class="actions form-group">
    <%= f.submit t('.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to t('.back'), :back %>
