.row#catalog
  - catalog.fetch(:watchables).each_with_index do |watchable, index|
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
      .panel.panel-default
        .panel-heading
          - year = watchable[:year] ? " (#{watchable.fetch(:year)})" : ''
          - path = watchable_type == "movie" ? movie_path(slug: watchable.fetch(:slug)) : tv_show_path(slug: watchable.fetch(:slug))
          = link_to("#{watchable.fetch(:title)}#{year}", path, 'data-watchable-title' => true)
        .panel-body
          .row
            .col-xs-5
              - if watchable[:poster]
                = image_tag(watchable.fetch(:poster), class: 'img-responsive poster')
            .col-xs-7
              .row.text-center
                .col-xs-4.text-warning.small
                  %span.glyphicon.glyphicon-star
                  %br
                  = watchable.fetch(:rating)
                - if watchable[:minutes]
                  .col-xs-5.text-info.small
                    %span.glyphicon.glyphicon-time
                    %br
                    = "#{watchable.fetch(:minutes) / 60}h #{watchable.fetch(:minutes) % 60}m"
                .col-xs-3.text-success.small
                  %span.glyphicon.glyphicon-comment
                  %br
                  = watchable.fetch(:comment_count)
              .card-break
              .row.text-center.no-gutters
                .col-xs-12
                  .btn.btn-xs.btn-frame.btn-block.btn-noclick.text-success{ type: 'button',
                                                                            'data-toggle' => 'tooltip',
                                                                            'data-placement' => 'top',
                                                                            title: ApplicationHelper.detailed_votes_list(watchable.fetch(:votes)) }
                    - watchable.fetch(:votes).map { |v| v.fetch(:opinion) }.tap do |opinions|
                      - ['yes', 'abstention', 'no', 'unknown', 'watched'].each do |opinion|
                        - count = opinions.count(opinion)
                        - next if count.zero?
                        %span
                          = icon_for_opinion(opinion)
                          = "x #{opinions.count(opinion)}"
                .col-xs-12
                  .btn.btn-xs.btn-frame.btn-block.btn-noclick.text-success{ type: 'button' }
                    = t('.movie_card.you')
                    .clearfix
                    .btn-group{ 'data-toggle' => 'buttons' }
                      = render('movies/vote_button', watchable_type: watchable_type, opinion: 'yes', button_classes: "btn-catalog-vote", current_user_vote: watchable.fetch(:current_user_vote), slug: watchable.fetch(:slug))
                      = render('movies/vote_button', watchable_type: watchable_type, opinion: 'no', button_classes: "btn-catalog-vote", current_user_vote: watchable.fetch(:current_user_vote), slug: watchable.fetch(:slug))
                      = render('movies/vote_button', watchable_type: watchable_type, opinion: 'abstention', button_classes: "btn-catalog-vote", current_user_vote: watchable.fetch(:current_user_vote), slug: watchable.fetch(:slug))

    - # These lines place a clearfix row for the different layouts, so that rows
    - # look always aligned even with cells with uneven heights
    - if (index + 1) % 2 == 0
      .clearfix.visible-sm-block
    - if (index + 1) % 3 == 0
      .clearfix.visible-md-block
    - if (index + 1) % 4 == 0
      .clearfix.visible-lg-block

#movie-details.modal.fade{ tabindex: -1, role: 'dialog', 'aria-labelledby' => 'movie-details' }
  .modal-dialog.modal-lg{ role: 'document' }
    .modal-content.main-background
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close' }
          %span{ 'aria-hidden' => true } &times;
      .modal-body
      .modal-footer
        %button.btn.btn-default{ type: 'button', 'data-dismiss' => 'modal' }= t('.movie_card.close')
