- glyphicon, color_class = case opinion
  - when "yes" then ["play", "text-success"]
  - when "no" then ["stop", "text-danger"]
  - when "abstention" then ["adjust", "text-warning"]
  - when "watched" then ["eye-open", "text-muted"]
  - when "unknown" then ["question-sign", "text-primary"]

= button_tag(type: "button", class: "btn btn-default #{button_classes} #{"active" if current_user_vote == opinion}", onclick: "MovieMates.Catalog.update_vote(this, '#{watchable_type}')") do
  = radio_button_tag("vote", opinion, current_user_vote == opinion, "data-current-user-opinion" => opinion)
  = hidden_field_tag("slug", slug)
  %span{class: "glyphicon glyphicon-#{glyphicon} #{color_class}", "data-opinion": opinion}
