.row
  .col-xs-12
    %h1
      = @movie.fetch(:title)
      - if @movie.key?(:year)
        = "(#{@movie.fetch(:year)})"
  .col-xs-12.col-sm-3
    = image_tag(@movie.fetch(:poster), class: 'img-responsive poster-edit') if @movie[:poster]
  .col-xs-12.col-sm-9
    .row.icons-row
      .col-xs-12
      = link_to(@movie.fetch(:url_imdb), target: :_blank, class: 'link-provider') do
        = image_tag('imdb_logo.png', class: 'img-responsive btn-provider', width: 70)
      = link_to(@movie.fetch(:url_tmdb), target: :_blank, class: 'link-provider') do
        = image_tag('tmdb_logo.png', class: 'img-responsive btn-provider', width: 70)
    %br/
    - if @movie[:contributor]
      = t('.added_by_html', contributor: @movie.fetch(:contributor))
    - if @movie[:minutes]
      |
      %span.glyphicon.glyphicon-time
      = "#{@movie.fetch(:minutes) / 60}h #{@movie.fetch(:minutes) % 60}m"
    |
    %span.glyphicon.glyphicon-star
    = @movie.fetch(:rating)
    - if @movie.fetch(:genres)
      |
      = @movie.fetch(:genres).join(", ")
    %br/
    %br/
    - if @movie.fetch(:currently_in_library)
      %h4= t(".votes")
      .row.text-center
        .col-xs-12.col-sm-4.col-md-3.space-below
          .btn-group{ 'data-toggle' => 'buttons', role: "group" }
            = render('movies/vote_button', watchable_type: "movie", opinion: 'yes', button_classes: "btn-lg", current_user_vote: @movie.fetch(:current_user_vote), slug: @movie.fetch(:slug))
            = render('movies/vote_button', watchable_type: "movie", opinion: 'no', button_classes: "btn-lg", current_user_vote: @movie.fetch(:current_user_vote), slug: @movie.fetch(:slug))
            = render('movies/vote_button', watchable_type: "movie", opinion: 'abstention', button_classes: "btn-lg", current_user_vote: @movie.fetch(:current_user_vote), slug: @movie.fetch(:slug))
        .col-xs-12.col-sm-4.col-md-3
          - @movie.fetch(:votes).each do |vote|
            = image_tag(vote.fetch(:user_pic) + "?sz=40", class: "img-circle", height: 40)
            = vote.fetch(:user_name)
            &#x27a1;
            = t("opinion.#{vote.fetch(:opinion)}")
            %br/
    %button.btn.btn-primary.btn-lg.space-above.space-below{ type: :button, "data-toggle": :collapse, "data-target": "#providers", "aria-expanded": false, "aria-controls": :providers }
      %span.glyphicon.glyphicon-film
      = t(".show_providers")
    #providers.collapse
      - if @movie.fetch(:providers).any?
        %table.table.table-striped.table-bordered.table-condensed
          %tr.text-center
            %th
            %th.text-center= t(".free")
            %th.text-center= t(".subscription")
            %th.text-center= t(".rent")
            %th.text-center= t(".buy")
            %th.text-center= t(".ads")
            %th.text-center= t(".cinema")
          - @movie.fetch(:providers).each do |provider|
            %tr
              %td.text-right
                = provider.fetch(:name)
                = image_tag(provider.fetch(:icon_url), height: 35)
              %td.text-center
                = format_offers_cell(provider, :free) { |offer| offer.fetch(:presentation_type) }
              %td.text-center
                = format_offers_cell(provider, :flatrate) { |offer| offer.fetch(:presentation_type) }
              %td.text-center
                = format_offers_cell(provider, :rent) { |offer| "#{offer.fetch(:presentation_type)} #{offer.fetch(:price).format}" }
              %td.text-center
                = format_offers_cell(provider, :buy) { |offer| "#{offer.fetch(:presentation_type)} #{offer.fetch(:price).format}" }
              %td.text-center
                = format_offers_cell(provider, :ads) { |offer| offer.fetch(:presentation_type) }
              %td.text-center
                = format_offers_cell(provider, :cinema) { |offer| offer.fetch(:presentation_type) }
      - else
        = t(".no_offers")
    %h4= t('.plot')
    = @movie.fetch(:plot)
    %br/
    %br/
    - if @movie[:trailer_youtube_id]
      %iframe.trailer{src: "https://www.youtube.com/embed/#{@movie.fetch(:trailer_youtube_id)}", frameborder: 0}
      %br/
      %br/
    - unless @movie.fetch(:currently_in_library)
      = form_tag(library_nominations_path(slug: @movie.fetch(:slug), watchable_type: "movie")) do
        = button_tag(class: 'btn btn-lg btn-primary') do
          <span class="glyphicon glyphicon-plus"></span>
          = t('.add_to_library')
  - if @movie.fetch(:currently_in_library)
    .col-xs-12.col-sm-9#comments
      %h2
        %span.glyphicon.glyphicon-bullhorn
        = t('.comments.title')
      %ul.list-group
        - @movie.fetch(:comments).each do |comment|
          %li.list-group-item.comment
            .header
              %span.author
                = image_tag(comment.fetch(:author_pic) + "?sz=25", class: "img-circle", height: 25)
                %strong= comment.fetch(:author_name)
              %span.timestamp{title: comment.fetch(:timestamp)}
                %span.glyphicon.glyphicon-time
                = t('.comments.time_ago', time: time_ago_in_words(comment.fetch(:timestamp)))
            .body
              = comment.fetch(:body)
      = form_tag(comments_path(slug: @movie.fetch(:slug), watchable_type: "movie")) do
        .form-group
          = text_area_tag('comment', nil, placeholder: t('.comments.placeholder'), class: 'form-control')
        .form-group
          = button_tag(class: 'btn btn-action') do
            %span.glyphicon.glyphicon-plus
            = t('.comments.submit')

  .col-xs-12
    - if @movie.fetch(:currently_in_library)
      = form_tag(movie_path(@movie.fetch(:slug)), method: :patch) do
        - @movie.fetch(:votes).each do |vote|
          .checkbox
            = label_tag("watched[#{vote.fetch(:user_id)}]") do
              = check_box_tag("watched[#{vote.fetch(:user_id)}]", '1', vote.fetch(:opinion) == "watched")
              = image_tag(vote.fetch(:user_pic) + "?sz=30", class: "img-circle", height: 30)
              = t('.watched.label', username: vote.fetch(:user_name))
        .row<
          .col-xs-12.btn-wrapper
            = submit_tag(t('.watched.submit'), class: 'btn btn-primary')

    .row<
      .col-xs-12.btn-wrapper
        - if @movie.fetch(:currently_in_library)
          = link_to(movie_path(@movie.fetch(:slug)),  method: :delete, class: 'btn btn-danger') do
            %span.glyphicon.glyphicon-trash
            = t('.remove')
