%section#library
  %h1= t('.title')

  .btn-group
    %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
      = t('.sort.button')
      %span.caret

    %ul.dropdown-menu
      %li= link_to(t('.sort.alphabetically_high'), tv_shows_path(sort_by: 'alphabetically_high'))
      %li= link_to(t('.sort.alphabetically_low'), tv_shows_path(sort_by: 'alphabetically_low'))
      %li= link_to(t('.sort.rating_high'), tv_shows_path(sort_by: 'rating_high'))
      %li= link_to(t('.sort.rating_low'), tv_shows_path(sort_by: 'rating_low'))
      %li= link_to(t('.sort.duration_high'), tv_shows_path(sort_by: 'duration_high'))
      %li= link_to(t('.sort.duration_low'), tv_shows_path(sort_by: 'duration_low'))
  %hr

  = render 'movies/catalog', catalog: @data.fetch(:catalog), watchable_type: "tv_show"

  %nav.text-center
    = link_to('< ' + t('movies.index.previous_page'), tv_shows_path(page: @data.fetch(:catalog).fetch(:current_page) - 1, sort_by: @data.fetch(:sort_by)), class: 'btn btn-default') unless @data.fetch(:catalog).fetch(:current_page) - 1 <= 0
    = link_to(t('movies.index.next_page') + ' >', tv_shows_path(page: @data.fetch(:catalog).fetch(:current_page) + 1, sort_by: @data.fetch(:sort_by)), class: 'btn btn-default') unless @data.fetch(:catalog).fetch(:current_page) + 1 > @data.fetch(:catalog).fetch(:total_pages)
