.row
  .col-xs-12
    %h1
      = @tv_show.fetch(:title)
      - if @tv_show.key?(:year)
        = "(#{@tv_show.fetch(:year)})"
  .col-xs-12.col-sm-3
    = image_tag(@tv_show.fetch(:poster), class: 'img-responsive poster-edit') if @tv_show[:poster]
  .col-xs-12.col-sm-9
    .row.icons-row
      .col-xs-12
      = link_to(@tv_show.fetch(:url_tmdb), target: :_blank, class: 'link-provider') do
        = image_tag('tmdb_logo.png', class: 'img-responsive btn-provider', width: 70)
    %br/
    - if @tv_show[:contributor]
      = t('.added_by_html', contributor: @tv_show.fetch(:contributor))
    - if @tv_show[:minutes]
      |
      %span.glyphicon.glyphicon-time
      = "#{@tv_show.fetch(:minutes) / 60}h #{@tv_show.fetch(:minutes) % 60}m"
    |
    %span.glyphicon.glyphicon-star
    = @tv_show.fetch(:rating)
    - if @tv_show.fetch(:genres)
      |
      = @tv_show.fetch(:genres).join(", ")
    %br/
    %br/
    - if @tv_show.fetch(:currently_in_library)
      %h4= t(".votes")
      .row.text-center
        .col-xs-12.col-sm-4.col-md-3.space-below
          .btn-group{ 'data-toggle' => 'buttons', role: "group" }
            = render('movies/vote_button', watchable_type: "tv_show", opinion: 'yes', button_classes: "btn-lg", current_user_vote: @tv_show.fetch(:current_user_vote), slug: @tv_show.fetch(:slug))
            = render('movies/vote_button', watchable_type: "tv_show", opinion: 'no', button_classes: "btn-lg", current_user_vote: @tv_show.fetch(:current_user_vote), slug: @tv_show.fetch(:slug))
            = render('movies/vote_button', watchable_type: "tv_show", opinion: 'abstention', button_classes: "btn-lg", current_user_vote: @tv_show.fetch(:current_user_vote), slug: @tv_show.fetch(:slug))
        .col-xs-12.col-sm-4.col-md-3
          - @tv_show.fetch(:votes).each do |vote|
            = image_tag(vote.fetch(:user_pic) + "?sz=40", class: "img-circle", height: 40)
            = vote.fetch(:user_name)
            &#x27a1;
            = t("opinion.#{vote.fetch(:opinion)}")
            %br/
    %button.btn.btn-primary.btn-lg.space-above.space-below{ type: :button, "data-toggle": :collapse, "data-target": "#providers", "aria-expanded": false, "aria-controls": :providers }
      %span.glyphicon.glyphicon-film
      = t(".show_providers")
    #providers.collapse
      - if @tv_show.fetch(:providers).any?
        %table.table.table-striped.table-bordered.table-condensed
          %tr.text-center
            %th
            %th.text-center= t(".free")
            %th.text-center= t(".subscription")
            %th.text-center= t(".rent")
            %th.text-center= t(".buy")
            %th.text-center= t(".ads")
            %th.text-center= t(".cinema")
          - @tv_show.fetch(:providers).each do |provider|
            %tr
              %td.text-right
                = provider.fetch(:name)
                = image_tag(provider.fetch(:icon_url), height: 35)
              %td.text-center
                = format_offers_cell(provider, :free) { |offer| offer.fetch(:presentation_type) }
              %td.text-center
                = format_offers_cell(provider, :flatrate) { |offer| offer.fetch(:presentation_type) }
              %td.text-center
                = format_offers_cell(provider, :rent) { |offer| "#{offer.fetch(:presentation_type)} #{offer.fetch(:price).format}" }
              %td.text-center
                = format_offers_cell(provider, :buy) { |offer| "#{offer.fetch(:presentation_type)} #{offer.fetch(:price).format}" }
              %td.text-center
                = format_offers_cell(provider, :ads) { |offer| offer.fetch(:presentation_type) }
              %td.text-center
                = format_offers_cell(provider, :cinema) { |offer| offer.fetch(:presentation_type) }
      - else
        = t(".no_offers")
    %h4= t('.plot')
    = @tv_show.fetch(:plot)
    %br/
    %br/
    - unless @tv_show.fetch(:currently_in_library)
      = form_tag(library_nominations_path(slug: @tv_show.fetch(:slug), watchable_type: "tv_show")) do
        = button_tag(class: 'btn btn-lg btn-primary') do
          <span class="glyphicon glyphicon-plus"></span>
          = t('.add_to_library')
  - if @tv_show.fetch(:currently_in_library)
    .col-xs-12.col-sm-9#comments
      %h2
        %span.glyphicon.glyphicon-bullhorn
        = t('.comments.title')
      %ul.list-group
        - @tv_show.fetch(:comments).each do |comment|
          %li.list-group-item.comment
            .header
              %span.author
                = image_tag(comment.fetch(:author_pic) + "?sz=25", class: "img-circle", height: 25)
                %strong= comment.fetch(:author_name)
              %span.timestamp{title: comment.fetch(:timestamp)}
                %span.glyphicon.glyphicon-time
                = t('.comments.time_ago', time: time_ago_in_words(comment.fetch(:timestamp)))
            .body
              = comment.fetch(:body)
      = form_tag(comments_path(slug: @tv_show.fetch(:slug), watchable_type: "tv_show")) do
        .form-group
          = text_area_tag('comment', nil, placeholder: t('.comments.placeholder'), class: 'form-control')
        .form-group
          = button_tag(class: 'btn btn-action') do
            %span.glyphicon.glyphicon-plus
            = t('.comments.submit')

  .col-xs-12
    - if @tv_show.fetch(:currently_in_library)
      -# This is for the JS code that populates the episode selector to read
      #last-episode-watched.hidden
        = @tv_show.fetch(:last_episode_watched)

      = form_tag(tv_show_path(@tv_show.fetch(:slug)), method: :patch) do

        = "#{ t('.watched.last_season') }: "
        %select#season-picker.selectpicker{ name: 'season', 'data-actions-box' => 'true' }
          - @tv_show.fetch(:seasons).each do |season|
            %option{ 'data-content' => "<img src=\"#{season.fetch(:poster_url)}\" height=\"100\"/> #{season.fetch(:name)}",
                     'data-episode-count' => season.fetch(:episode_count),
                     value: season.fetch(:number),
                     selected: @tv_show.fetch(:last_season_watched) == season.fetch(:number) }

        %br/

        = "#{ t('.watched.last_episode') }: "
        %select#episode-picker.selectpicker{ name: 'episode', 'data-actions-box' => 'true' }

        .row<
          .col-xs-12.btn-wrapper
            = submit_tag(t('.watched.submit'), class: 'btn btn-primary')

    .row<
      .col-xs-12.btn-wrapper
        - if @tv_show.fetch(:currently_in_library)
          = link_to(tv_show_path(@tv_show.fetch(:slug)),  method: :delete, class: 'btn btn-danger') do
            %span.glyphicon.glyphicon-trash
            = t('.remove')
