<h1><%= t('.title') %></h1>

<table class="table">
  <caption><%= t('.title') %></caption>
  <tbody>
    <tr><td><%= link_to current_user.group.name, my_group_path %></td></tr>

    <% @groups.each do |group| %>
      <tr><td><%= link_to group.name, group %></td></tr>
    <% end %>
  </tbody>
</table>
