%section#search
  = form_tag(search_path, method: :get) do
    .form-group
      .input-group
        %span.input-group-addon.glyphicon.glyphicon-search
        = label_tag(:term, t('searches.show.search_params.query'), class: 'sr-only')
        = text_field_tag(:term, '', placeholder: t('searches.show.search_params.query_placeholder'), class: 'form-control input-lg')

    = hidden_field_tag "watchable_type", "movie"

    = button_tag(t('searches.show.search_params.submit'), class: 'sr-only')

#accordion.panel-group{ role: 'tablist', 'aria-multiselectable' => 'true' }
  .panel.panel-primary
    #movies-to-vote-heading.panel-heading{ role: 'tab' }
      %h4.panel-title{ role: 'button',
                       'data-toggle' => 'collapse',
                       'data-parent' => '#accordion',
                       href: '#movies-to-vote',
                       'aria-expanded' => 'true',
                       'aria-controls' => 'movies-to-vote' }
        = t('.movies_to_vote.title')
        %span.badge= @data.fetch(:movie_catalog).fetch(:watchables).count

    #movies-to-vote.panel-collapse.collapse{ class: @data.fetch(:movie_catalog).fetch(:watchables).any? ? 'in' : '',
                                             role: 'tabpanel',
                                             'aria-labelledby' => 'movies-to-vote-heading' }
      .panel-body
        = link_to(faq_path(anchor: 'how-to-vote'), class: 'btn btn-xs btn-info space-below') do
          %span.glyphicon.glyphicon-question-sign
          = t('.movies_to_vote.need_help')

        - if @data.fetch(:movie_catalog).fetch(:watchables).any?
          = render 'movies/catalog', catalog: @data.fetch(:movie_catalog), watchable_type: "movie"
        - else
          .alert.alert-success.text-center{ role: 'alert' }
            = t('.movies_to_vote.all_voted')
            = "\xF0\x9F\x98\x83"

  .panel.panel-primary
    #tv-shows-to-vote-heading.panel-heading{ role: 'tab' }
      %h4.panel-title{ role: 'button',
                       'data-toggle' => 'collapse',
                       'data-parent' => '#accordion',
                       href: '#tv-shows-to-vote',
                       'aria-expanded' => 'true',
                       'aria-controls' => 'tv-shows-to-vote' }
        = t('.tv_shows_to_vote.title')
        %span.badge= @data.fetch(:tv_show_catalog).fetch(:watchables).count

    #tv-shows-to-vote.panel-collapse.collapse{ class: @data.fetch(:tv_show_catalog).fetch(:watchables).any? ? 'in' : '',
                                               role: 'tabpanel',
                                               'aria-labelledby' => 'tv-shows-to-vote-heading' }
      .panel-body
        = link_to(faq_path(anchor: 'how-to-vote'), class: 'btn btn-xs btn-info space-below') do
          %span.glyphicon.glyphicon-question-sign
          = t('.tv_shows_to_vote.need_help')

        - if @data.fetch(:tv_show_catalog).fetch(:watchables).any?
          = render 'movies/catalog', catalog: @data.fetch(:tv_show_catalog), watchable_type: "tv_show"
        - else
          .alert.alert-success.text-center{ role: 'alert' }
            = t('.tv_shows_to_vote.all_voted')
            = "\xF0\x9F\x98\x83"

  .panel.panel-primary
    #pick-a-movie-heading.panel-heading{ role: 'tab' }
      %h4.panel-title{ role: 'button', 'data-toggle' => 'collapse', 'data-parent' => '#accordion', href: '#pick-a-movie', 'aria-expanded' => 'true', 'aria-controls' => 'pick-a-movie' }
        = t('.pick.movie')

    #pick-a-movie.panel-collapse.collapse{ role: 'tabpanel', 'aria-labelledby' => 'pick-a-movie-heading' }
      .panel-body
        = link_to(faq_path(anchor: 'pick-a-movie'), class: 'btn btn-xs btn-info') do
          %span.glyphicon.glyphicon-question-sign
          = t('.pick.help')

        = render 'picks/form', users: @data.fetch(:users), providers: @data.fetch(:providers), watchable_type: "movie"

  .panel.panel-primary
    #pick-a-tv-show-heading.panel-heading{ role: 'tab' }
      %h4.panel-title{ role: 'button', 'data-toggle' => 'collapse', 'data-parent' => '#accordion', href: '#pick-a-tv-show', 'aria-expanded' => 'true', 'aria-controls' => 'pick-a-tv-show' }
        = t('.pick.tv_show')

    #pick-a-tv-show.panel-collapse.collapse{ role: 'tabpanel', 'aria-labelledby' => 'pick-a-tv-show-heading' }
      .panel-body
        = render 'picks/form', users: @data.fetch(:users), providers: @data.fetch(:providers), watchable_type: "tv_show"
