.row.justify-content-center.margin-top-flexible
  .col.col-lg-6
    .card.splash-panel
      .card-body
        .card-title.text-center
          %h2= t('static.index.title')
        .card-text
          %p.lead.text-center= t('static.index.text')
          %ol.larger-text
            %li= t('static.index.create_group')
            %li= t('static.index.add_movies')
            %li= t('static.index.vote')
            %li= t('static.index.decide')

.row.justify-content-center.margin-top-10
  .col-8.col-lg-4
    .card.sign-in
      .card-body.text-center
        .card-text
          %strong= t('static.index.get_started')
          = form_with(url: user_google_oauth2_omniauth_authorize_path) do
            = button_tag(class: 'btn btn-block btn-social btn-google', 'data-google-signin' => true) do
              %i.fab.fa-google
              = t('static.index.sign_in')
