@import 'colors';
@import 'sizes';

@mixin btn-custom($background, $border, $color) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}
.btn-primary {
  @include btn-custom($color-bg-nav, $color-bg-nav, auto);
}
.btn-danger {
  @include btn-custom($color-bg-panel-heading, $color-bg-panel-heading, white);
}
.btn-success {
  @include btn-custom($color-dark-button, $color-dark-button, white);
}
.btn-action {
  @include btn-custom($dark-purple, $dark-purple, white);
}
.btn-frame {
  background-color: transparent;
  border: 1px solid #afafaf;
}
.btn-noclick { cursor: default; }
.btn-catalog-vote {
  @media (max-width: $screen-xs-max) { width: 100%; }
  background-color: #e6e6e6;
}

.btn-provider {
  display: inline;
}
.link-provider {
  &:hover, &:focus {
    text-decoration: none;
  }
}
.btn-wrapper .btn {
  margin-bottom: 5px;
}
