%h1= t('.title', term: @data.fetch(:results).fetch(:term))

%section#search-params
  = form_tag(search_path, method: :get) do
    = hidden_field_tag(:watchable_type, @data.fetch(:watchable_type, "movie"))

    .form-group
      = label_tag(:term, t('.search_params.query'))
      = text_field_tag(:term, @data.fetch(:results).fetch(:term), placeholder: t('.search_params.query_placeholder'), class: 'form-control input-lg')

    - if @data.fetch(:watchable_type) == "movie"
      .form-group
        = label_tag(:year, t('.search_params.year'))
        = text_field_tag(:year, @data.fetch(:results).fetch(:year), placeholder: t('.search_params.year_placeholder'), type: 'number', min: 1893, class: 'form-control input-lg')

    = button_tag(class: 'btn btn-default') do
      %span.glyphicon.glyphicon-search
      = t('.search_params.submit')

%section.space-above
  %ul.nav.nav-tabs
    %li{ class: @data.fetch(:watchable_type) == "movie" ? "active" : "" }
      %a{ href: search_path(watchable_type: "movie", term: @data.fetch(:term)) }
        = t(".tabs.movies")
    %li{ class: @data.fetch(:watchable_type) == "tv_show" ? "active" : "" }
      %a{ href: search_path(watchable_type: "tv_show", term: @data.fetch(:term)) }
        = t(".tabs.tv_shows")

%section#library-results
  %h3= t('.library.title')
  %hr
  - if @data.fetch(:results).fetch(:library).fetch(:watchables).any?
    = render 'movies/catalog', catalog: @data.fetch(:results).fetch(:library), watchable_type: @data.fetch(:watchable_type)
  - else
    = t('.library.no_results')

%section#external-results
  %h3= t('.external.title')
  %hr
  - if @data.fetch(:results).fetch(:external).any?
    .row
      - @data.fetch(:results).fetch(:external).each_with_index do |watchable, index|
        %div{ id: "tmdb-id-#{watchable.fetch(:tmdb_id)}", class: 'col-xs-12 col-sm-6 col-md-4 col-lg-3', 'data-watchable-result' => true }
          .panel.panel-default
            .panel-heading
              = link_to(watchable.fetch(:url), target: :_blank) do
                %span.glyphicon.glyphicon-new-window
                = watchable.fetch(:title)
                = " (#{watchable[:release_date].year})" if watchable[:release_date]
            .panel-body
              .row.vertical-align
                .col-xs-5
                  = image_tag(watchable[:poster_url], class: 'img-responsive') if watchable[:poster_url]
                .col-xs-7
                  .row.text-center
                    .col-xs-4.text-warning.large-icon
                      %span.glyphicon.glyphicon-star
                      %br
                      = watchable.fetch(:rating)
                    .col-xs-4.text-info.large-icon
                      = glyphicon("volume-up")
                      %br
                      = EmojiFlag.new(watchable.fetch(:original_language))
                    .col-xs-4.text-success
                      %a.btn.text-success.no-padding{ tabindex: 0,
                                                      role: "button",
                                                      'data-toggle' => 'popover',
                                                      'data-placement' => 'auto',
                                                      "data-container": "body",
                                                      "data-trigger": "focus",
                                                      "data-title": t('movies.show.plot'),
                                                      "data-content": watchable.fetch(:plot) }
                        = t('movies.show.plot')
                        %br
                        %span.large-icon= glyphicon("file")
                  .card-break
                  .row.text-center
                    .col-xs-12.ok-button
                      - form_path = @data.fetch(:watchable_type) == "movie" ? movies_path : tv_shows_path
                      = form_tag(form_path) do
                        = hidden_field_tag(:tmdb_id, watchable.fetch(:tmdb_id))
                        .form-group
                          = button_tag(class: 'btn btn-multiline btn-success', 'data-watchable-button' => true) do
                            = t('.external.add_to_library')
                            %span.glyphicon.glyphicon-plus

        - # These lines place a clearfix row for the different layouts, so that rows
        - # look always aligned even with cells with uneven heights
        - if (index + 1) % 2 == 0
          .clearfix.visible-sm-block
        - if (index + 1) % 3 == 0
          .clearfix.visible-md-block
        - if (index + 1) % 4 == 0
          .clearfix.visible-lg-block

  - else
    = t('.external.no_results')
