- # This template requires these local variables to be passed:
- # - users: Generated by Picking::GroupUsersPresenter
- # - providers: Generated by Picking::ProvidersPresenter
- # - watchable_type: Either "movie" or "tv_show"
- # - selected_provider_ids: Optional. IDs of the providers to keep selected

= form_tag(pick_path) do
  = hidden_field_tag "watchable_type", watchable_type
  .btn-wrapper{"data-toggle": "buttons"}
    %strong= t('.users')
    %span.glyphicon.glyphicon-menu-right
    - users.each do |user|
      %label.btn.btn-primary{class: user.fetch(:selected) ? "active" : ""}
        %input{ type: "checkbox",
                autocomplete: "off",
                name: "present_movie_mates_ids[#{user.fetch(:id)}]",
                value: user.fetch(:id),
                checked: user.fetch(:selected) }
          = image_tag(user.fetch(:profile_pic) + "?sz=25", class: "img-circle", height: 25)
          = user.fetch(:name)

  %strong= t('.providers')
  %span.glyphicon.glyphicon-menu-right
  %select.selectpicker{ name: 'providers[]', multiple: true, 'data-actions-box' => 'true' }
    - providers.each do |provider|
      %option{ 'data-content' => "<img src=\"https://images.justwatch.com#{provider.fetch(:icon_url)}\" height=\"25\"/> #{provider.fetch(:name)}",
               value: provider.fetch(:id),
               selected: !local_assigns.has_key?(:selected_provider_ids) || selected_provider_ids.include?(provider.fetch(:id)) }

  %br/
  %br/
  = button_tag(type: 'submit', class: 'btn btn-success') do
    %span.glyphicon.glyphicon-film
    - if watchable_type == "movie"
      = t('.movie_submit')
    - else
      = t('.tv_show_submit')
