%h2
  = t('.title')
  = link_to(faq_path(anchor: 'pick-a-movie'), class: 'btn btn-xs btn-info') do
    %span.glyphicon.glyphicon-question-sign
    = t('.help')

= render 'form', users: @data.fetch(:users), providers: @data.fetch(:providers), watchable_type: "movie"
