%h2
  = t('.title')
  = link_to(faq_path(anchor: 'pick-a-movie'), class: 'btn btn-xs btn-info') do
    %span.glyphicon.glyphicon-question-sign
    = t('.help')

= render 'form',
    users: @data.fetch(:users),
    providers: @data.fetch(:providers),
    selected_provider_ids: @data.fetch(:selected_provider_ids),
    watchable_type: @data.fetch(:watchable_type)

%h3= t('.results')

= render 'movies/catalog', catalog: @data.fetch(:catalog), watchable_type: @data.fetch(:watchable_type)
