<%= form_with(url: my_group_path, local: true, id: :group, method: :patch) do |form| %>
  <fieldset>
    <legend><%= t('.legend') %></legend>

    <div class="form-group">
      <%= form.label :group_name, t('.group_name'), for: :group_name %>
      <%= form.text_field :name, id: :group_name, value: group.name, class: 'form-control' %>
    </div>
  </fieldset>

  <%= form.submit(t('.submit'), class: 'btn btn-success') %>
<% end %>
