<h1><%= @group.name %></h1>

<%= render 'form', group: @group %>

<h2><%= t('.invite.title') %></h2>
<%= form_with(url: my_group_invitations_path, id: :invitation) do |form| %>
  <div class="form-group">
    <%= form.label :invitation_emails, t('.invite.label'), for: :invitation_emails %>
    <%= form.text_field :emails,
                        id:          :invitation_emails,
                        class:       'form-control',
                        placeholder: t('.invite.placeholder') %>
  </div>

  <%= form.submit(t('.invite.submit'), class: 'btn btn-success') %>
<% end %>
<%- if @group.one_member? %>
  <%= form_with(url: my_group_path, method: :delete) do |form| %>
    <%= button_tag(
          class: 'btn btn-danger',
          data: { confirm: t('.implode.confirmation') }) do %>
      <span class="glyphicon glyphicon-trash"></span>
      <%= t('.implode.submit') %>
    <% end %>
  <% end %>
<% else %>
  <%= form_with(url: my_group_path, method: :delete) do |form| %>
    <%= button_tag(
          class: 'btn btn-danger',
          data: { confirm: t('.split.confirmation') }) do %>
      <span class="glyphicon glyphicon-trash"></span>
      <%= t('.split.submit') %>
    <% end %>
  <% end %>
<% end %>
