$yellow: #FCE7B7;
$light-grey: #DCDBDE;
$orange: #FFA552;
$brown: #BA5624;
$dark-purple: #381D2A;
$dark-grey: #424C55;

$color-background: #E2E5D2;
$color-box: #CE9776;

$color-bg-page: $light-grey;
$color-bg-panel: $yellow;
$color-bg-nav: $orange;
$color-button: $orange;
$color-bg-panel-heading: $brown;
$color-font-dark: $dark-purple;
$color-dark-button: $dark-grey;

$comment-bg: $yellow;
$comment-border: $dark-grey;
