// Specific UI components. This is where majority of our work takes place and
// our UI components are often composed of Objects and Components

@import 'sizes';
@import 'colors';

.imdb-height { height: 18px; }

ul.spaced-out {
  @media (max-width: $screen-sm-max) { margin: 40px 0 0 0; }
  @media (min-width: $screen-md-min) { margin: 60px 100px 0 100px; }
  padding: 0 30px 0 30px;

  > li {
    list-style-type: none;
    margin: 0 0 40px 0;
  }
}
ul.less-spaced-out {
  margin: 20px 0 20px 0;
  padding: 0 20px 0 20px;

  > li {
    list-style-type: none;
    @media (max-width: $screen-sm-max) { margin: 0 0 15px 0; }
    @media (min-width: $screen-md-min) { margin: 0 0 5px 0; }
  }
}

#comments {
  margin-top: 10px;
}

.comment {
  background: $comment-bg;
  border-color: $comment-border;
  span.timestamp {
    float: right;
  }
}

.icons-row {
  margin-left: 0px;
}

.link-provider {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.logo-text {
  width: 600px;
}

@media (min-width: $screen-sm-min) {
  .navbar li .form-inline {
    margin-top: 8px;
  }
}

@media (max-width: $screen-xs-max) {
  .poster-edit {
    width: 90%;
    margin: auto;
  }
  .ok-button {
    padding-left: 0px;
  }
}

@media (min-width: $screen-md-min) {
  nav .nav-search { width: 140%; }
}
@media (min-width: $screen-lg-min) {
  nav .nav-search { width: 250%; }
}

.poster { cursor: pointer; }

.trailer {
  @media (max-width: $screen-xs-max) {
    width: 290px;
    height: 164px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: 533px;
    height: 299px;
  }
  @media (min-width: $screen-md-min) {
    width: 640px;
    height: 360px;
  }
}
