// Styling for bare HTML elements (like H1, A, etc.). These come with default
// styling from the browser so we can redefine them here.

@import 'colors';

body {
  margin-bottom: 20px;
  background-color: $color-bg-page;
  color: $color-font-dark;
}

table caption { display: none; }

a {
  color: none;
  text-decoration: none;
}

a:hover {
  color: none;
}
