// Class-based selectors which define undecorated design patterns, for example
// media object known from OOCSS

@import 'colors';
@import 'sizes';

.vertical-align {
  display: flex;
  align-items: center;
}

.no-gutters > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.space-above { margin-top: 10px; }
.space-below { margin-bottom: 10px; }

.btn-multiline { white-space: normal; }

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.main-background { background-color: $color-bg-page; }

.card-break { height: 20px; }
