!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title MovieMates
    = favicon_link_tag 'moviemates_logo.png'
    = csrf_meta_tags
    %link{ crossorigin: 'anonymous', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity: 'sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', rel: 'stylesheet' }
    %link{ rel: 'stylesheet', href: 'https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css' }
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ crossorigin: 'anonymous', integrity: 'sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' }
    %script{ src: 'https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js' }

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ 'aria-expanded' => 'false', 'data-target' => '#main-navbar-collapse', 'data-toggle' => 'collapse', type: 'button' }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to('MovieMates', home_path, class: 'navbar-brand')
        #main-navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = form_tag(search_path, method: :get, class: 'form-inline') do
                .input-group.nav-search
                  = text_field_tag(:term, '', class: 'form-control', placeholder: t('.search'))
                  .input-group-btn
                    = button_tag(title: 'Search', class: 'btn btn-default') do
                      %span.glyphicon.glyphicon-search

                = hidden_field_tag "watchable_type", "movie"
          %ul.nav.navbar-nav.navbar-right
            = content_tag(:li, class: active_when { request.path.starts_with?(pick_path) }) do
              = link_to(new_pick_path) do
                %span.glyphicon.glyphicon-map-marker
                = t('.pick')
            = content_tag(:li, class: active_when { request.path == movies_path }) do
              = link_to(movies_path) do
                %span.glyphicon.glyphicon-list
                = t('.library')
            = content_tag(:li, class: active_when { request.path == tv_shows_path }) do
              = link_to(tv_shows_path) do
                %span.glyphicon.glyphicon-list
                = t('.tv_show_library')
            = content_tag(:li, class: active_when { request.path == faq_path }) do
              = link_to(faq_path) do
                %span.glyphicon.glyphicon-question-sign
                = t('.help')
            %li.dropdown
              %a.dropdown-toggle{ 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', href: '#', role: 'button' }
                = t('name')
                %span.caret
              %ul.dropdown-menu
                - (AVAILABLE_COUNTRIES - [I18n.locale]).each do |locale|
                  %li.text-center
                    = form_tag(locale_path, method: :patch) do
                      = hidden_field_tag(:locale, locale)
                      = submit_tag(t('name', locale: locale), class: 'btn-link')
            %li.dropdown
              %a.dropdown-toggle{ 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', href: '#', role: 'button' }
                = image_tag(current_user.google_pic + "?sz=26", height: 26)
                = t('.greeting', username: current_user.name)
                %span.caret
              %ul.dropdown-menu
                = content_tag(:li) { link_to(t('.my_profile'), edit_user_registration_path) }
                = content_tag(:li) { link_to(t('.my_group'), my_group_path) }
                %li.divider{ role: 'separator' }
                = content_tag(:li, class: 'text-center') { button_to(t('.sign_out'), destroy_user_session_path, method: :delete, class: 'btn navbar-btn btn-danger') }

    .container-fluid
      - if notice
        .alert.alert-success.alert-dismissible{ role: 'alert' }
          %button.close{ 'data-dismiss' => 'alert', type: 'button' }
            %span{ 'aria-hidden' => true } &times;
          = notice
      - if alert
        .alert.alert-warning.alert-dismissible{ role: 'alert' }
          %button.close{ 'data-dismiss' => 'alert', type: 'button' }
            %span{ 'aria-hidden' => true } &times;
          = alert

      = link_to(image_tag('moviemates_banner.png', class: 'img-responsive logo-text'), home_path)

      = yield
