<!DOCTYPE html>
<html>
  <head>
    <title>MovieMates</title>
    <%=  favicon_link_tag 'moviemates_logo.png' %>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css"
          integrity="sha256-rFMLRbqAytD9ic/37Rnzr2Ycy/RlpxE5QH52h7VoIZo="
          crossorigin="anonymous" />

    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/brands.css"=
          integrity="sha384-VGCZwiSnlHXYDojsRqeMn3IVvdzTx5JEuHgqZ3bYLCLUBV8rvihHApoA1Aso2TZA"
          crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@Ferdy89" />
    <meta property="og:title" content="MovieMates" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Find the right movie to watch with the right friends">
    <meta property="og:url" content="https://moviemates.party" />
    <meta property="og:image" content="https://moviemates.party/logo.png" />
    <%= stylesheet_link_tag 'static', media: 'all' %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container-fluid">
      <% if notice %>
        <div class='alert alert-success alert-dismissible' role='alert'>
          <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class='alert alert-warning alert-dismissible' role='alert'>
          <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
          <%= alert %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
